%section.mypage-tab-container
  %h2.mypage-tab-head_white いいね！一覧
  .tab-content
    %ul.mypage-item
      - if @likes.present? && !@state_pending
        -@likes.each do | like |
          %li
            .mypage-item__link
              = link_to product_path(like.product), class: "mypage-item__link__link"  do
                .mypage-item__link__link__wrapper
                  .mypage-item__link__link__wrapper__main
                    .mypage-item__link__link__wrapper__main__figure
                      =image_tag like.product.product_images[0].image.url , class: "is-higher-width" 
                    .mypage-item-body
                      .mypage-item-text
                        = like.product.title
                      %div
                        %span.listing-item-count
                          %i.icon
                            = icon("far", "heart")
                          %span
                            = like.product.likes.count
                        %span.listing-item-count
                          %i.icon
                            = icon("far", "comment")
                          %span
                            = like.product.comments.count
                        - if like.product.state == "in_sale"
                          .mypage-item-status.bold.awaiting
                            出品中
                        - else
                          .mypage-item-status.bold.pending
                            Sold out
                  .mypage-item__link__link__wrapper__icon
                    = icon("fas", "angle-right fa-2x")
      - else
        %li.notpresent
          %h3.gazou
            いいね！がありません  