.l-content
  %section.mypage-tab-container
    %h2.mypage-tab-head 出品した商品
    %ul.listing-tabs
      %li.active
        %h3
          = link_to "#mypage-tab-transaction-now" , data:{toggle:"tab"} do
            出品中
      %li
        %h3
          = link_to "/jp/mypage/listings/in_progress/", data:{toggle:"tab"} do
            取引中
      %li
        %h3
          = link_to "/jp/mypage/listings/completed/", data:{toggle:"tab"} do
            売却済み
    .tab-content
      %ul.mypage-item
        -if @products
          -@products.each do | product |
            %li
              .mypage-item__link

                = link_to showmain_product_path(product), class: "mypage-item-link"  do
                  .mypage-item__link__figure
                    =image_tag product.product_images[0].image.url , class: "is-higher-width" 
                  .mypage-item-body
                    .mypage-item-text
                      = product.title
                    %div
                      %span.listing-item-count
                        %i.icon
                          = icon("far", "heart")
                        %span
                          = product.likes.count
                      %span.listing-item-count
                        %i.icon
                          = icon("far", "comment")
                        %span
                          = product.comments.count
                      .mypage-item-status.bold.awaiting
                        出品中
        -else
          %h3.gazou "出品中の商品は現在ありません”