.l-content
  %section.mypage-tab-container
    %h2.mypage-tab-head 出品した商品
    %ul.listing-tabs
      %li.active
        %h3
          = link_to "#mypage-tab-transaction-now" , data:{toggle:"tab"} do
            出品中
      %li
        %h3
          = link_to "/jp/mypage/listings/in_progress/", data:{toggle:"tab"} do
            取引中
      %li
        %h3
          = link_to "/jp/mypage/listings/completed/", data:{toggle:"tab"} do
            売却済み
    .tab-content
      %ul.mypage-item
        %li
          .mypage-item__link
            = link_to "#" , class: "mypage-item-link" , data:{toggle:"tab"} do
              .mypage-item__link__figure
                %img.is-higher-width{alt:"", "data-src" => "//static.mercdn.net/thumb/photos/m92219058918_1.jpg?1571369039", src:"//static.mercdn.net/thumb/photos/m92219058918_1.jpg?1571369039"}/
              .mypage-item-body
                .mypage-item-text
                  hdghg
                %div
                  %span.listing-item-count
                    %i.icon
                      = icon("far", "heart")
                    %span 0
                  %span.listing-item-count
                    %i.icon
                      = icon("far", "comment")
                    %span 0
                  .mypage-item-status.bold.awaiting
                    出品中
              %i.icon-arrow-right
  %ul.mypage-history.pager
    %li.pager-prev.pager-cell
      = link_to "/jp/mypage/listings/listing/?min_pager_id=5134573100" , class: "" , data:{toggle:"tab"} do
        %i.icon-arrow-left
    %li.pager-next.pager-cell
      = link_to "/jp/mypage/listings/listing/?max_pager_id=513457310" , class: "" , data:{toggle:"tab"} do
        %i.icon-arrow-right