%section.mypage-tabs
  %ul.mypage-tabs__do
    %li
      %h3
        = link_to notification_users_path , class: "oshirase-tag" , data:{toggle:"tab"} do
          お知らせ
    %li.active
      %h3
        = link_to todo_users_path , class: "todo-tag" , data:{toggle:"tab"} do
          やることリスト
  %ul.mypage-item
    - if @todos
      - @todos.each do | todo |
        %li.mypage-item__list-info
          = link_to "", class:"mypage-item__list-info__link" do
            .mypage-item__list-info__link__mark
              = image_tag asset_path("mark_m.png"), class:"mark_m"
            .mypage-item__list-info__link__item-body
              .mypage-item__list-info__link__item-body__text
                TECHさんから「20歳の自分に受けさせたい文章講義」の取引メッセージがあります。返信をお願いします。
              %time.mypage-item__list-info__link__item-body__time
                = fa_icon "time",class:"icon-time fa-lg"
                %span 26 分前
            =fa_icon "angle-right",class:"side-box__mypage-nav__list__inner__item__icon fa-1g"
        %li.mypage-item__list-info
          = link_to "", class:"mypage-item__list-info__link" do
            .mypage-item__list-info__link__mark
              = image_tag asset_path("mark_m.png"), class:"mark_m"
            .mypage-item__list-info__link__item-body
              .mypage-item__list-info__link__item-body__text
                EXPERTさんが「ダッフィーぬいぐるみ Sサイズ ディズニー 備品」を購入しました。。コンビニ/ATM払いを選択しています。支払いが済んだらやることリストに表示されます。
              %time.mypage-item__list-info__link__item-body__time
                = fa_icon "time",class:"icon-time fa-lg"
                %span 4 ヵ月前
            =fa_icon "angle-right",class:"side-box__mypage-nav__list__inner__item__icon fa-1g"
    - else
      %li.mypage-item__list-info__not
        お知らせの商品がありません