%section.mypage-user__box__i
  = link_to"https://www.mercari.com/jp/u/290156031/" do
    %figure
      = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"'src',height: "60"
    %h2.bold ゆり
    .mypage-user__box__i__number
      %div
        評価
        %span.bold 0
      %div
        出品数
        %span.bold 0
%section.mypage-tabs
  %ul.mypage-tabs__do
    %li.active
      %h3
        = link_to "" , class: "oshirase-tag" , data:{toggle:"tab"} do
          お知らせ
    %li
      %h3
        = link_to "" , class: "todo-tag" , data:{toggle:"tab"} do
          やることリスト
  .mypage-item
    .mypage-item__list-info.active
      %li.mypage-item__list-info__not
        お知らせの商品がありません
%section.mypage-tabs-2
  %h2.mypage-tabs-2__head 購入した商品
  %ul.mypage-tabs-2__do
    %li.active
      %h3
        = link_to "" , class: "transaction-now-tag" , data:{toggle:"tab"} do
          取引中
    %li
      %h3
        = link_to "" , class: "transaction-old-tag" , data:{toggle:"tab"} do
          過去の取引
.mypage-item
  %ul.mypage-item__list-now.active
    %li.mypage-item__list-now__not
      取引中の商品がありません
