= render "layouts/header"
= render "layouts/exhibit__btn"
%section.mypage-wrapper
  .left-content
    = render "layouts/sidebar"
  .right-content
    = render "identification"
= render "layouts/footer"