= render "layouts/header"
%nav.gretel
  - breadcrumb :plofile
  = breadcrumbs separator: "＞"
= render "layouts/exhibit__btn"
%section.mypage-wrapper
  .left-content
    = render "layouts/sidebar"
  .right-content
    = render "plofile"
= render "layouts/footer"