= render "layouts/header"
%nav.gretel
  - breadcrumb :mypage
  = breadcrumbs separator: "ï¼"
= render "layouts/exhibit__btn"
%section.mypage-wrapper
  .left-content
    = render "layouts/sidebar"
  .right-content
    = render "users_main"
= render "layouts/footer"