-# サインアップ 1/6 新規会員登録ページ
%header.login__header
  %h1.login__header__log
    = link_to root_path do
      %img{width: "185", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
%main.sing__main
  .sing__main__contents
    .sing__main__contents__menu
      %h2.sing__main__contents__menu__text
        新規会員登録
    .sing__main__contents__second
      = link_to new_user_registration_path, class: "sing__main__contents__menu__mail" do
        = fa_icon 'envelope', class: 'icon fa-lg'
        %span.sing__main__contents__menu__mail__text
          メールアドレスで登録する
      = link_to root_path, class: "login__main__contents__second__face" do
        = fa_icon 'facebook', class: 'icon fa-lg'
        %span.login__main__contents__second__face__text
          Facebookでログイン
      = link_to root_path, class: "login__main__contents__second__google" do
        = fa_icon 'google', class: 'icon fa-lg'
        %span.login__main__contents__second__google__text
          Googleでログイン      
%footer.login__footer
  %nav.login__footer__nav
    %ul.login__footer__nav__menu
      %li.login__footer__nav__menu__list
        = link_to do
          プライバシーポリシー
      %li.login__footer__nav__menu__list
        = link_to do
          メルカリ利用規約
      %li.login__footer__nav__menu__list
        = link_to do
          特定商取引に関する表記
  = link_to root_path, class: "login__footer__log" do
    %img{width: "80", src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308"}  
  %p.login__footer__2019
    %small
      2019 Mercari  

