-# サインアップ3/5 住所入力
= render "header"
%main.sing__main
  %h2.sing__main__title
    住所情報入力
  = form_for @address,url:regulation_index_path, method: :post do |f|  
    .sing__main__wrapper__content
      - if @address.errors.any?
        .alert.alert-warning
          %ul
            - @address.errors.full_messages.each do |message|
              %li= message
    .sing__main__wrapper__content  
      .sing__main__wrapper__content_m
        %label{for:"post_num"} 郵便番号
        %span.form-require 必須
        =f.text_field :post_num , placeholder: "ハイフン抜きでお願いします", type: "text", value: "", class: "input-default"       
      .sing__main__wrapper__content_m
        %label{for:"prefectures"} 都道府県
        %span.form-require 必須
        = f.collection_select :prefectures , Prefecture.all, :id, :name,{prompt:"--"},{class:"input-default"}
      .sing__main__wrapper__content_m
        %label{for:"municipalities"} 市町村
        %span.form-require 必須
        =f.text_field :municipalities , placeholder: "例) 佐世保市黒髪町", type: "text", value: "", class: "input-default"
      .sing__main__wrapper__content_m
        %label{for:"block_number"} 番地
        %span.form-require 必須
        =f.text_field :block_number , placeholder: "例) 12-21", type: "text", value: "", class: "input-default"
      .sing__main__wrapper__content_m
        %label{for:"building"} 建物名
        %span.form-require.any 任意
        =f.text_field :building , placeholder: "例) 第2宮脇ビル", type: "text", value: "", class: "input-default"
      .sing__main__wrapper__content_m
        %label{for:"phone_number"} 電話
        %span.form-require.any 任意
        =f.text_field :phone_number , placeholder: "例）08034545567", type: "text", value: "", class: "input-default"
      .sing__main__wrapper__content_m
        =f.submit "次へ進む" ,class: "btn-red"        
= render "footer"