.top-main__contens__content
  %h2.top-main__contens__title
    人気のカテゴリー
  %ul.top-main__contens__lists
    = link_to do 
      %li.menu__list
        メンズ
    = link_to do     
      %li.menu__list
        レディース
    = link_to do     
      %li.menu__list
        家電・スマホ・カメラ
    = link_to do     
      %li.menu__list
        おもちゃ・ホビー・グッズ 
.top-main__contens__category
  .top-main__contens__category__menu
    .category__item
      .category__item__top
        .category__item__top__title
          レディース新着アイテム
        = link_to do
          .category__item__top__refe
            もっと見る＞
      .category__item__bottom
        .category__item__bottom__product
          = link_to do
            =image_tag("https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3")
            .category__item__bottom__product__text
              のーと             
        .category__item__bottom__product
          = link_to do
            =image_tag("https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3")
            .category__item__bottom__product__text
              のーと      
        .category__item__bottom__product
          = link_to do
            =image_tag("https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3")
            .category__item__bottom__product__text
              のーと  
        .category__item__bottom__product
          = link_to do
            =image_tag("https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3")
            .category__item__bottom__product__text
              のーと  
        .category__item__bottom__product
          = link_to do
            =image_tag("https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3")
            .category__item__bottom__product__text
              のーと
            
                                       