.top-main__contens__content
  %h2.top-main__contens__title
    人気のブランド
  %ul.top-main__contens__lists
    = link_to do
      %li.menu__list
        ナイキ
    = link_to do    
      %li.menu__list
        シャネル
    = link_to do    
      %li.menu__list     
        シュプリーム
    = link_to do    
      %li.menu__list
        プーマ
.top-main__contens__category
  .top-main__contens__category__menu
    .category__item
      .category__item__top
        .category__item__top__title
          ナイキ新着アイテム
        = link_to do
          %h2.category__item__top__refe
            もっと見る＞
      .category__item__bottom
        .category__item__bottom__product
          = link_to do
            %img{src: "https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3"}
            .category__item__bottom__product__text
              のーと             
        .category__item__bottom__product
          = link_to do
            %img{src: "https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3"}
            .category__item__bottom__product__text
              のーと      
        .category__item__bottom__product
          = link_to do
            %img{src: "https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3"}
            .category__item__bottom__product__text
              のーと  
        .category__item__bottom__product
          = link_to do
            %img{src: "https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3"}
            .category__item__bottom__product__text
              のーと  
        .category__item__bottom__product
          = link_to do
            %img{src: "https://www.pakutaso.com/shared/img/thumb/AME619nakayoku_TP_V.jpg", class: "image3"}
            .category__item__bottom__product__text
              のーと