%header.login__header
  %h1.login__header__log
    = link_to root_path do
      =image_tag"https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"  
%main.single-main
  %section.single-container
    #sell-container
      %div{"data-reactroot": ""}
        .sell-container-inner
          %h2.single-head 商品の情報を入力 
          = form_for @product, html: {id:'edit_item', class:"sell-form"}  do |f|
            .item__images__container.sell-upload-box
              %h3.sell-upload-head.block-image{data:{alreadysavedtotal:@product.product_images.length-1}}
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます
              = f.fields_for :product_images do |ff|
                .dropzone-container.clearfix.item__images__container__wrapper
                  .item__images__container__preview
                    %ul
                      - @product.product_images.first(@product.product_images.length-1).each.with_index do |product_image,i|
                        %li{data:{alreadysaved: i}}
                          .img-box
                            =image_tag product_image.image.url if product_image.image.url.present?
                          .item__images__container__preview__box
                            %div.delete_btn_box2
                              .item__images__container__preview__box__delete
                                削除
                  = ff.label :image, form:"image", class: "dropzone-box item__images__container__guide sell-upload-drop-box" ,for:"upload-image" do
                    .input_area
                      = ff.file_field :image, multiple: true, name: 'product_images[image][]', id: "upload-image", class: "upload-image file-btn", 'data-image': 0
                      = ff.hidden_field :image_cache, class:"image_cache"
                      .dropzone-area.visible-pc
                        %p ドラッグ&ドロップ<br>またはクリックファイルをアップロード
            .sell-content
              .form-group
                %label.block-title
                  商品名
                  %span.form-require 必須
                %div
                  =f.text_field :title, class:"input-default", paceholder:"商品名（必須 40文字まで)"
              .form-group
                %label.block-description
                  商品の説明
                  %span.form-require 必須
                = f.text_area :description, class:"textarea-default", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）\n例）2010年頃に1万円で購入したジャケットです。\nライトグレーで傷はありません。あわせやすいのでおすすめです。"
            .sell-content.clearfix
              %h3.sell-sub-head 商品の詳細
              .sell-form-box
                .form-group
                  %label.block-category
                    カテゴリー
                    %span.form-require 必須
                  %div
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.collection_select :category_id, @parent, :id, :name,{prompt: "---"}, class: "select-default", id: "parent-form", name: 'product[category_id1]' 
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.collection_select :category_id, @children, :id, :name,{prompt: "---"}, class: "select-default", id: "children-form", name:'product[category_id2]'   
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.collection_select :category_id, @grandchildren, :id, :name,{prompt: "---"}, class: "select-default", id: "grandchildren-form", name: 'product[category_id]' 
                .form-group
                  %label.block-size
                    サイズ
                    %span.form-require 必須
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.select :size, Product.sizes.keys.to_a, {prompt: "---"}, class:"select-default"
                .form-group.form-suggest-container
                  %label
                    ブランド
                    %span.form-arbitrary 任意
                  %div
                    = f.text_field :brand_id, class:"input-default",placeholder: "例）シャネル",value:""
                    %div
                .form-group
                  %label.block-condition
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.select :condition , Product.conditions.keys.to_a ,{prompt: "---"}, class:"select-default"
            .sell-content.clearfix1
              %h3.sell-sub-head 配送について
              %a.form-question{href:"/jp/help_center/article/68/", target:"_blank"} ?
              .sell-form-box
                .form-group
                  %label.block-shipping_charges
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.select :shipping_charges, Product.shipping_charges.keys.to_a,{prompt: "---"}, class:"select-default"
                .form-group
                  %label.block-shipping_method
                    配送の方法
                    %span.form-require 必須
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.select :shipping_method, Product.shipping_methods.keys.to_a,{prompt: "---"}, class:"select-default"
                .form-group
                  %label.block-shipping_area
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.collection_select :shipping_area, Prefecture.all, :id, :name,{prompt:"--"},{class:"select-default "} 
                .form-group
                  %label.block-shipping_date
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    = icon("fas", "chevron-down tag fa-1g")
                    = f.select :shipping_date, Product.shipping_dates.keys.to_a, {prompt: "---"}, class:"select-default"
            .sell-content.clearfix2
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              %a.form-question{href: "/jp/help_center/article/64/",target: "_blank"} ?
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix.sell-price_wrapper
                      %label.l-left.block-price
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        = f.text_field :price, class:"money_box",placeholder: "例）300"
                  %li.clearfix.sell-price_wrapper
                    .l-left
                      販売手数料 (10%)
                    .l-right.fee
                  %li.clearfix.bold.sell-price_wrapper
                    .l-left 販売利益
                    .l-right.profit -
            .modal{role:"dialog", tabindex: "-1"}
              .modal-inner
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to"/jp/help_center/getting_started/prohibited_conduct/" do
                    禁止されている行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "/jp/help_center/getting_started/counterfeit_goods/" do
                    偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to"/jp/seller_terms/" do
                    加盟店規約
                  に同意したことになります。
              .item__form__sellcontent__submit__done{data:{productid: @product.id}}
                = f.submit "変更する", class: 'btn-submit btn-default btn-red', disable_with: "Save"
              = link_to "もどる",:back ,class:'btn-default btn-gray'

%footer.login__footer
  %nav.login__footer__nav
    %ul.login__footer__nav__menu
      %li.login__footer__nav__menu__list
        = link_to do
          プライバシーポリシー
      %li.login__footer__nav__menu__list
        = link_to do
          メルカリ利用規約
      %li.login__footer__nav__menu__list
        = link_to do
          特定商取引に関する表記
  = link_to root_path, class: "login__footer__log" do
    = image_tag"https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2296184308"
  %p.login__footer__2019
    %small
      2019 Mercari
.overlay
.modal_exhibit-comp
  %h2.modal_exhibit-comp__head
    編集が完了しました
  .modal_exhibit-comp__main
    .modal_exhibit-comp__main__link.show
      = link_to "OK", "" ,class: "btn-default btn-red link_to_product"
