= render "layouts/header"
= render "layouts/exhibit__btn"
.top-main
  .top-main__contens
    .top-main__contens__image
      =image_tag("https://www.pakutaso.com/shared/img/thumb/RED19923A033_TP_V.jpg", class: "image2")
    = render "products_category"             
    = render "products_bland"
= render "layouts/footer"