= render "layouts/header"
%section.item-box-container
  .message-box_after-pay
    .message-box_after-pay__inner
      .message-box_after-pay__inner__head
        = icon("far", "clock icon-time fa-lg")
        %span.message-text
          発送をお待ちください
      .message-box_after-pay__inner__description
        出品者からの発送通知をお待ちください
  %h1.item-box-container__item-state
    購入が完了しました
  .item-box-container__photo-box
    .item-box-container__photo-box__inner
      = image_tag @product.product_images[0].image.url, class:"image_photo_pay"
  %h1.item-box-container__item-name
    = @product.title
  .item-box-container__price-box
    %span.item-box-container__price-box__price
      = "¥#{@product.price.to_s(:delimited)}"
    %span.item-box-container__price-box__tax (税込)
    %span.item-box-container__price-box__shipping-fee
      - if @product.shipping_charges_before_type_cast == 0
        送料込み
      - else
        着払い   
  .item-box-container__link
    = link_to purchase_user_path(current_user), class:"item-buy-btn" do
      購入した商品のステータスを確認する
= render "layouts/footer"