= render "layouts/header"
%section.item-box-container
  %h1.item-box-container__item-name
    = @product.title
  .item-box-container__main
    .item-box-container__main__photo
      .item-box-container__main__photo__inner
        .item-box-container__main__photo__inner__large-box
          .item-box-container__main__photo__inner__large-box__wrapper
            - if @product 
              - @product.product_images.each do | product_image |
                .item-box-container__main__photo__inner__large-box__wrapper__item
                  .item-box-container__main__photo__inner__large-box__wrapper__item__inner
                    = image_tag product_image.image.url, class:"item-box-container__main__photo__inner__large-box__wrapper__item__inner__img"
        .item-box-container__main__photo__inner__nav
          .item-box-container__main__photo__inner__nav__prev
            prev
          .item-box-container__main__photo__inner__nav__next
            next
        .item-box-container__main__photo__inner__smal-box-wrapper
          - if @product 
            - @product.product_images.each_with_index do | product_image ,i|
              - if i==0
                .item-box-container__main__photo__inner__smal-box-wrapper__item.active{id: "image#{i}"}
                  %span
                  .item-box-container__main__photo__inner__smal-box-wrapper__item__inner
                    = image_tag product_image.image.url

              - else
                .item-box-container__main__photo__inner__smal-box-wrapper__item{id: "image#{i}"}
                  %span
                  .item-box-container__main__photo__inner__smal-box-wrapper__item__inner
                    = image_tag product_image.image.url
    .item-box-container__main__price-box
      %span.item-box-container__main__price-box__price 
        = "¥#{@product.price.to_s(:delimited)}"
      %span.item-box-container__main__price-box__tax (税込)
      %span.item-box-container__main__price-box__shipping-fee 送料込み
    %table.item-box-container__main__detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to plofile_user_path(@product.user) ,class:"seller_link" do
              = @product.user.nickname
            %div
              .item-user-ratings
                %i.fas.fa-laugh.icon-laugh.evaluation-mark
                %span 971
              .item-user-ratings
                %i.fas.fa-meh.icon-meh.evaluation-mark
                %span 3
              .item-user-ratings
                %i.fas.fa-frown.icon-frown.evaluation-mark
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to "",class:"item_category_link" do
              %div
                = @category.parent.parent.name
            = link_to "",class:"item_category_link" do
              .item_sub-category_link
                = icon("fas", "angle-right fa-1g")
                = @category.parent.name
            = link_to "",class:"item_category_link" do
              .item_sub-category_link
                = icon("fas", "angle-right fa-1g")
                = @category.name
        %tr
          %th ブランド
          %td
            - if @product.brand_id
              = link_to "" do
                = @product.brand_id
        %tr
          %th 商品の状態
          %td
            = @product.condition
        %tr
          %th 配送料の負担
          %td 
            = @product.shipping_charges
        %tr
          %th 配送の方法
          %td
            = @product.shipping_method
        %tr
          %th 配送元地域
          %td
            = link_to "" do
              = Prefecture.find(@product.shipping_area).name
        %tr
          %th 発送日の目安
          %td
            = @product.shipping_date
  .item-box-container__price-box
    %span.item-box-container__price-box__price
      = "¥#{@product.price.to_s(:delimited)}"
    %span.item-box-container__price-box__tax (税込)
    %span.item-box-container__price-box__shipping-fee
      - if @product.shipping_charges_before_type_cast == 0
        送料込み
      - else
        着払い
  = link_to "/products/buy" , class:"item-buy-btn" do
    購入画面に進む
  = link_to "" , class:"item-action-text", data:{action:"item/openDetail",adjust:{url:""},key:"id=m81784685949",play:{id:"com.kouzoh.mercari" } } do
    アプリで購入
  .item-box-container__description
    %p.item-box-container__description__inner
      = @product.description
  .item-box-container__evaluation-btn
    .item-box-container__evaluation-btn__left
      %button.item-box-container__evaluation-btn__left__like.like_btn{data: { like: @like  } }
        .off-to-on{style:"display:none;"}
          .like_link
            = link_to product_likes_path(@product),  {method:"post", remote: true} do
              = icon("far", "heart icon-like-border fa-lg")
        .on-to-off{style:"display:none;"}
          .like_link
            = link_to product_like_path(@product), {method:"delete", remote: true} do
              = icon("fas", "heart icon-like-border fa-lg" )
        %span いいね!
        %span.fade-in-down{data:{num:"like"}}
          = @likes.count
      = link_to "" , class:"item-button item-button-report", data: { modal:"report-item", open: "modal"} do
        = icon("far", "flag icon-flag fa-lg")
        %span 不適切な商品の報告
    .item-box-container__evaluation-btn__right
      = link_to ""  do
        = icon("fas", "lock icon-lock fa-lg")
        %span あんしん・あんぜんへの取り組み

.float-item-buy-btn
  .float-item-buy-btn__box
    = link_to "/products/buy", class:"item-buy-btn" do
      購入画面に進む

.item-box-message
  .item-box-message__container
    .item-box-message__container__content
      %ul.item-box-message__container__content__list
        - if @product.comments
          - @product.comments.each do |comment|
            %li.item-box-message__container__content__list__message-box
              = link_to comment.user , class:"item-box-message__container__content__list__message-box__lunchar" do
                %figure.item-box-message__container__content__list__message-box__lunchar__box
                  %div.item-box-message__container__content__list__message-box__lunchar__box__avatar
                    = image_tag "//static.mercdn.net/thumb/members/810915501.jpg?1395785151"
                  .item-box-message__container__content__list__message-box__lunchar__box__name
                    = comment.user.nickname
                - if comment.user == @product.user 
                  .item-box-message__container__content__list__message-box__lunchar__role
                    出品者
              .item-box-message__container__content__list__message-box__body
                .item-box-message__container__content__list__message-box__body__text
                  = comment.body
                .item-box-message__container__content__list__message-box__body__wrapper
                  %time.item-box-message__container__content__list__message-box__body__wrapper__icon-left
                    = icon("far", "clock icon-time fa-lg")
                    %span
                      =comment.created_at.to_s
                  .item-box-message__container__content__list__message-box__body__wrapper__icon-right
                    = form_with url:"", method:"post" do |f|
                      .actions
                        = f.button  type: 'submit', class: 'btn-flag' do
                          = icon("far", "flag icon-flag fa-lg")
                  .item-box-message__container__content__list__message-box__body__balloon
    .item-box-message__container__notice
      = form_for [@product,@comment] ,method: :post, html: {class: "item-box-message__container__notice__form"} do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :body , class:"textarea-default"
        = f.submit value:"コメントする", class:"item-box-message__container__notice__form__submit"
    %aside.item-box-message__container__modal
      .item-box-message__container__modal__banner
        .item-box-message__container__modal__banner__body
          .item-box-message__container__modal__banner__body__head 確認
          %div{"data-comment" => "body"}
          %br/
          本当にこのコメントを削除してよろしいですか？
        = form_with url:"", class:"item-box-message__container__modal__banner__form" do |f|
          .item-box-message__container__modal__banner__form__wrapper
            .item-box-message__container__modal__banner__form__wrapper__btn-block
            .item-box-message__container__modal__banner__form__wrapper__btn-cancel{data:{close: "modal"} }キャンセル
            %button.modal-btn.modal-btn-submit{type: "submit"}
              削除する

%ul.link-item-prev-next
  %li.nav-item-link-prev
    -if  Product.where(id: @product.id + 1).present?
      = link_to product_path(Product.where(id: @product.id + 1)[0]) do
        = icon("fas", "chevron-left angle-left fa-lg")
        %p
          = Product.where(id: @product.id + 1)[0].title
  %li.link-item-next
    -if  Product.where(id: @product.id - 1).present?
      = link_to product_path(Product.where(id: @product.id - 1)[0]) do
        %p
          = Product.where(id: @product.id - 1)[0].title
        = icon("fas", "chevron-right angle-right fa-lg")

.ssn-block
  .ssn-block__inner
    = link_to "", class:"ssn-block__inner__item facebook" do
      = icon("fab", "facebook-square icon-facebook fa-3x")
    = link_to "", class:"ssn-block__inner__item twitter" do
      = icon("fab", "twitter-square icon-twitter fa-3x")
    = link_to "", class:"ssn-block__inner__item pinterest" do
      = icon("fab", "pinterest-square icon-pinterest fa-3x")

- if @products_this_seller
  .related-item-box
    .related-item-box__inner
      %h2.related-item-box__inner__head
        = link_to "" do
          = "#{@product.user.nickname}さんのその他の出品"
      .related-item-box__inner__wrapper
        - @products_this_seller.each do |product|
          .related-item-box__inner__wrapper__items-box
            = link_to  product_path(product) do
              .related-item-box__inner__wrapper__items-box__photo
                - if product.product_images[0]
                  = image_tag product.product_images[0].image.url
              .related-item-box__inner__wrapper__items-box__price-label
                = "¥#{product.price.to_s(:delimited)}"
              .related-item-box__inner__wrapper__items-box__body
                %h3.related-item-box__inner__wrapper__items-box__body__name
                  = product.title
                .related-item-box__inner__wrapper__items-box__body__num
                  .related-item-box__inner__wrapper__items-box__body__num__price
                    = "¥#{product.price.to_s(:delimited)}"
                  .related-item-box__inner__wrapper__items-box__body__num__like
                    = icon("far", "heart icon-heart fa-lg")
                    %span.num
                      = product.likes.count
- if @products_this_category
  .related-item-box
    .related-item-box__inner
      %h2.related-item-box__inner__head
        = link_to "" do
          = "#{@product.category.name} その他の出品"
      .related-item-box__inner__wrapper
        - @products_this_category.each do |product|
          .related-item-box__inner__wrapper__items-box
            = link_to product_path(product) do
              .related-item-box__inner__wrapper__items-box__photo
                = image_tag product.product_images[0].image.url
              .related-item-box__inner__wrapper__items-box__price-label
                = product.title
              .related-item-box__inner__wrapper__items-box__body
                %h3.related-item-box__inner__wrapper__items-box__body__name
                  = product.title
                .related-item-box__inner__wrapper__items-box__body__num
                  .related-item-box__inner__wrapper__items-box__body__num__price ¥2,200
                  .related-item-box__inner__wrapper__items-box__body__num__like
                    = icon("far", "heart icon-heart fa-lg")
                    %span.num
                      = product.likes.count
%nav.bread-crumbs-products-show
  %ul
    %li{itemscope:"", itemtype: ""}
      = link_to root_path do
        %span{itemprop: "title"} メルカリ
      = icon("fas", "angle-right fa-1g")
    %li{itemscope: "", itemtype: ""}
      %span{itemprop: "title"}
        = @product.title
= render "layouts/footer"