.header
  .header__contents
    .header__contents__top
      .header__contents__top__log
        = link_to do 
          %img{:width => "134", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
      .form
        %input#box1{ :placeholder => "何かお探しですか？", :type => "text"}
        %button#button1{:type => 'submit'}
          = link_to do
            = fa_icon 'search'         
    .header__contents__bottom
      .header__contents__bottom__left
        .left__content
          = link_to do
            .left__content__bar  
            = fa_icon  "bars", class: 'tag'
            カテゴリーから探す
        .right__content
          = link_to do
            .left__content__tag
            = fa_icon  "tag", class: 'tag'
            ブランドから探す
      %ul.raight__menu
        %li.right__menu__list.heart
          = link_to do
            = fa_icon  "heart-o"
            いいね！一覧
        %li.right__menu__list.bell
          = link_to do
            = fa_icon  "bell-o"
            お知らせ
        %li.right__menu__list.bell
          = link_to do
            = fa_icon  "check"
            やることリスト
        %li.right__menu__list.user
          = link_to do
            = fa_icon  "user-o"
            マイページ
-# 出品ボタンーーーーーーーーーーー
.exhibit__btn
  = link_to do
    .exhibit__btn__content
      .exhibit__btn__content_text
        出品
      .exhibit__btn__content_image
        = fa_icon  "camera"