.header
  .header__contents
    .header__contents__top
      .header__contents__top__log
        = link_to root_path do
          %img{width: "134", src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
      .form
        %input#box1{placeholder: "何かお探しですか？", type: "text"}
        %button#button1{type: 'submit'}
          = link_to do
            = icon("fas", "search")
    .header__contents__bottom
      .header__contents__bottom__left
        .left__content
          = link_to do
            .left__content__bar  
            = icon("fas", "bars tag")
            カテゴリーから探す
        .right__content
          = link_to do
            .left__content__tag
            = icon("fas", "tag tag")
            ブランドから探す 
      -if user_signed_in?        
        %ul.right__menu
          %li.right__menu__list.heart
            = link_to like_user_path(current_user) do
              = icon("far", "heart")
              いいね！一覧
          %li.right__menu__list.bell
            = link_to notification_user_path(current_user) do
              = icon("far", "bell")
              お知らせ
          %li.right__menu__list.bell
            = link_to todo_user_path(current_user) do
              = icon("fas", "check")
              やることリスト
          %li.right__menu__list.user
            = link_to user_path(current_user) do
              = icon("far", "user")
              マイページ
            .right__menu__list__hover-box
              .right__menu__list__hover-box__user-box
                .name
                  = "#{current_user.nickname} さん"
              %ul.right__menu__list__hover-box__mypage-nav__list  
                %li.right__menu__list__hover-box__mypage-nav__list__inner
                  =link_to like_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-like" do
                    いいね！一覧
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")
                %li.right__menu__list__hover-box__mypage-nav__list__inner
                  =link_to showedit_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-listings-listing" do
                    出品した商品 - 出品中
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")
                %li.right__menu__list__hover-box__mypage-nav__list__inner
                  =link_to show_transaction_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-listings-inprogress" do
                    出品した商品 - 取引中
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")
                %li.right__menu__list__hover-box__mypage-nav__list__inner
                  =link_to show_completed_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-listings-complete" do
                    出品した商品 - 売却済み
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")
                %li.right__menu__list__hover-box__mypage-nav__list__inner
                  =link_to purchase_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-purchase" do
                    購入した商品 - 取引中
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")
                %li.right__menu__list__hover-box__mypage-nav__list__inner
                  =link_to purchased_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-purchased" do
                    購入した商品 - 過去の取引
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")
                %li.side-box__mypage-nav__list__inner
                  =link_to logout_user_path(current_user), class:"right__menu__list__hover-box__mypage-nav__list__inner__item side-logout" do
                    ログアウト
                    = icon("fas", "angle-right right__menu__list__hover-box__mypage-nav__list__inner__item__icon fa-1g")


      -else        
        .right__menu__nave
          .right__menu__nave__left
            = link_to regulation_index_path, class: "right__menu__nave__left__text" do
              新規会員登録
          .right__menu__nave__right
            = link_to new_user_session_path, class: "right__menu__nave__right__text" do
              ログイン             